<title>What&rsquo;s your favorite Pok&eacute;mon?</title>
<link rel="stylesheet" href="https://use.typekit.net/jsn4hum.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link rel="stylesheet" href="/style.css" />